@import "tailwindcss";

@font-face {
  font-family: "Recoleta";
  src: url("/fonts/recoleta/Recoleta-RegularDEMO.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-bg: #ffffff;
  --color-fg: #1a1a1a;
  --color-fg-muted: #4b5563;
  --color-accent: #a855f7;
  --color-accent-light: #c084fc;
  --color-accent-dark: #9333ea;
  
  --font-mono: "Monaspace Neon", monospace;
  --font-sans: "Inter", sans-serif;
  --font-recoleta: "Recoleta", serif;
}

body {
  @apply bg-bg text-fg font-sans min-h-screen selection:bg-accent/30;
  transition: opacity ease-in 0.2s;
}
